* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}
